@import './scss/mixes.scss';
@import './Navigation/styles.scss';
@import './Header/styles.scss';
@import './Section-podaj-dalej/index.scss';
@import './Section-oferta/index.scss';

body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}
