#el2 {
    h1{
        text-align: center;
    }
    .letter-orange {
        color: #ff9400;
    }

    .letter-green {
        color: #56a595
    }

    .letter-blue {
        color: #1f0d82
    }

    .letter-yellow {
        color: #fec600
    }
    .el2-paragraph {
        margin: 0 auto;
        width: 80%;
        @media screen and(min-width: 900px) {
            width: 65%;
        }
        @media screen and(min-width: 1000px){
            width: 55%;
        }
        @media screen and(min-width: 1200px){
            width: 50%;
        }
    }
    .el2-posts--wrapper{
        width: 100%;
        padding: 1%;
        @media only screen and (min-width:1000px) {
            width: 100%;
            padding: 5% 5%;
        }
        @media only screen and (min-width:1200px){
            width: 100%;
            padding: 5% 15%;
            .whitebg{
                min-height: 30vw;
            }
        }
        .whitebg{
            background: #fff!important;
            align-self: stretch;
            h6{
                color: #fec600 !important;
                text-align: center;
            }
            .el2-icon {
                width: 100%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 50px;
                line-height: 70px;
                color: black;
            }
            span{
                color: #121212!important
            };
        }
        .card-panel.teal {
            @extend .whitebg
        }

    }
}

#el3_navswitcher--wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .navswitcher {
        border: 2px solid $orange!important;
        .navswitcher_dot {
            background-color: $orange!important;
        }
        .navswitcher_angle {
            border-left: 2px solid $orange!important;
            border-bottom: 2px solid $orange!important;
        }
    }
}